<div class="container">
  <div class="toggle-switch-wrapper">
    <div class="toggle-switch">
      <input type="checkbox" id="darkModeToggle" (change)="toggleDarkMode()"
        [checked]="isDarkModeEnabled()">
      <label for="darkModeToggle">
        <span class="moon-icon">
          <img *ngIf="!isDarkModeEnabled()"
            src="assets/images/icon-moon-dark.svg">
          <img *ngIf="isDarkModeEnabled()"
            src="assets/images/icon-moon-light.svg">
        </span>
        <span class="sun-icon">
          <img *ngIf="!isDarkModeEnabled()"
            src="assets/images/icon-sun-dark.svg">
          <img *ngIf="isDarkModeEnabled()"
            src="assets/images/icon-sun-light.svg">
        </span>
      </label>
    </div>
  </div>
  <div *ngIf="!selectedQuiz">
    <section class="section">
      <div class="section-title">
        <h1><span class="font-normal">Welcome to the</span><br> Frontend
          Quiz!</h1>
      </div>
      <app-quiz-selection
        (quizSelected)="onQuizSelected($event)"></app-quiz-selection>
    </section>
  </div>
  <div *ngIf="selectedQuiz">
    <app-quiz [quiz]="selectedQuiz"
      (quizRestarted)="onQuizRestarted()"></app-quiz>
  </div>
</div>
