.section {
  @apply flex mt-7;
}
.section-title {
  @apply flex;
}
h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #1f2937;
}

body.dark-mode .container {
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body.dark-mode h1 {
  color: #ffffff;
}
