<div *ngIf="quiz">
  <h2 class="quiz-header">
    <img *ngIf="quiz.icon" [src]="quiz.icon" alt="{{ quiz.title }}"
      class="quiz-icon" />
    {{ quiz.title }}
  </h2>

  <app-question *ngIf="!showResults"
    [question]="quiz.questions[currentQuestionIndex]"
    [selectedAnswer]="selectedAnswer"
    [answerSubmitted]="answerSubmitted"
    [incorrectAnswerSelected]="incorrectAnswerSelected"
    [currentQuestionIndex]="currentQuestionIndex"
    [totalQuestions]="quiz.questions.length"
    [nullanswer]="nullanswer"
    (answerSelected)="selectAnswer($event)"
    (submitAnswer)="submitAnswer()"
    (nextQuestion)="nextQuestion()">
  </app-question>

  <app-results *ngIf="showResults"
    [quiz]="quiz"
    [score]="score"
    (restartQuiz)="restartQuiz()">
  </app-results>
</div>
