.container {
  max-width: 1000px;
}
.quiz-header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.quiz-icon {
  width: 40px;
  height: 40px;
}

.question-container {
  gap: 30px;
  display: flex;
  text-align: left;
  justify-content: start;
  align-items: center;
}

.question {
  font-size: 27px;
  font-weight: 600;
}

h2 {
  color: #1f2937;
}

h3 {
  margin-bottom: 20px;
  color: #1f2937;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.answers-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

li,
button {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
button {
  @apply text-center flex justify-center;
}

li:hover .answer-label {
  background-color: #f6e7ff;
  color: #9333ea;
}

.selected {
  border: 2px solid #9333ea;
}

.selected .answer-label {
  background-color: #9333ea;
  color: white;
}

.correct {
  border-color: #26d782;
}

.correct .answer-label {
  background-color: #26d782;
  color: white;
}

.incorrect {
  border-color: #ee5454;
}

.incorrect .answer-label {
  background-color: #ee5454;
  color: white;
}

.hide-border {
  border-color: transparent;
}

.nullanswer {
  color: #ee5454;
  text-align: center;
}

.answer-label {
  font-weight: bold;
  margin-right: 10px;
  background-color: #f4f6fa;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.icon {
  margin-left: auto;
  width: 20px;
  height: 20px;
}

button {
  background-color: #9333ea;
  color: #ffffff;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #b68ed8;
}

.score-section {
  display: flex;
  gap: 20px;
}

.mark-section {
  display: flex;
  border-radius: 24px;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.progress-container {
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 25px;
}

.progress-bar {
  height: 100%;
  background-color: #9333ea;
  transition: width 0.4s ease;
}
