.score-section {
  display: flex;
  gap: 10px;
}

.mark-section {
  display: flex;
  border-radius: 24px;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 42px;
}
.score {
  font-size: 5rem;
}
button {
  background-color: #9333ea;
  color: #ffffff;
  border: none;
  border-radius: 19px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  @apply text-center flex justify-center;
}

button:hover {
  background-color: #b68ed8;
}
li,
button {
  margin: 10px 0;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .score-section {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .score-section {
    gap: 15px;
  }
}
