@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
  background-color: #f4f6fa;
  color: #374151;
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: #313e51;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1f2937;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  @apply text-white;
}

p {
  color: #4b5563;
}

body.dark p {
  @apply text-gray-400;
}

body.dark .quiz-card {
  background-color: #3b4d66;
}

body.dark .quiz-card:hover {
  background-color: #626c7f;
}

body.dark li {
  background-color: #3b4d66;
  @apply text-white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.toggle-switch-wrapper {
  position: absolute;
  top: 30px;
  right: 60px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-switch label:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch input:checked + label {
  background-color: #6200ea;
}

.toggle-switch input:checked + label:before {
  transform: translateX(26px);
}
