@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
  background-color: #f4f6fa;
  color: #374151;
  margin: 0;
  padding: 0;
  background-image: url("assets/images/pattern-background-desktop-light.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

body.dark {
  background-color: #313e51;
  background-image: url("assets/images/pattern-background-desktop-dark.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  body {
    background-image: url("assets/images/pattern-background-tablet-light.svg");
  }

  body.dark {
    background-image: url("assets/images/pattern-background-tablet-dark.svg");
  }

  .toggle-switch-wrapper {
    top: 20px;
    right: 40px;
  }

  .container {
    max-width: 750px;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url("assets/images/pattern-background-mobile-light.svg");
  }

  body.dark {
    background-image: url("assets/images/pattern-background-mobile-dark.svg");
  }

  .toggle-switch-wrapper {
    top: 15px;
    right: 20px;
  }

  .container {
    max-width: 100%;
    padding: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1f2937;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  @apply text-white;
}

p {
  color: #4b5563;
}

body.dark p {
  @apply text-white;
}

body.dark .quiz-card {
  background-color: #3b4d66;
}

body.dark .quiz-card:hover {
  background-color: #626c7f;
}

body.dark li {
  background-color: #3b4d66;
  @apply text-white;
}

body.dark li .answer-label {
  background-color: #f6e7ff;
  color: #3b4d66;
}
body.dark .p {
  color: #a4b0c8;
}
body.dark .mark-section {
  background-color: #3b4d66;
}
body.dark .nullanswer {
  color: #fff;
  text-align: center;
}
.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.toggle-switch-wrapper {
  position: absolute;
  top: 30px;
  right: 60px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 17px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9333ea;
  transition: 0.4s;
  border-radius: 24px;
}

.toggle-switch label:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch input:checked + label {
  background-color: #9333ea;
}

.toggle-switch input:checked + label:before {
  transform: translateX(26px);
}

.moon-icon,
.sun-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.moon-icon {
  left: -30px;
}

.sun-icon {
  right: -30px;
}

.moon-icon img,
.sun-icon img {
  width: 20px;
  height: 20px;
}
